---
permalink: feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.name }} — Blog juridique</title>
  <subtitle>{{ site.description }}</subtitle>
  <link href="{{ site.url }}/feed.xml" rel="self" />
  <link href="{{ site.url }}/blog.html" />
  <id>{{ site.url }}/</id>
  <updated>{% if collections.articles.length %}{{ collections.articles[0].date | xmlDate }}{% else %}2026-08-01T00:00:00.000Z{% endif %}</updated>
  {% for article in collections.articles %}
  <entry>
    <title>{{ article.data.title }}</title>
    <link href="{{ site.url }}{{ article.url }}" />
    <id>{{ site.url }}{{ article.url }}</id>
    <updated>{{ article.date | xmlDate }}</updated>
    <summary>{{ article.data.description }}</summary>
  </entry>
  {% endfor %}
</feed>
